
h1 {
    color : darkorange;
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 30px;
}

h2 {
    color : darkblue;
    font-family: 'Black Han Sans', sans-serif;
}

h3{
    font-family: 'Nanum Gothic', sans-serif;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: large;
}

a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
}
