{% extends 'base.html' %}

{% block content %}

    <h1>2022 Dongguk LikeLion 10th SNS</h1>
    <h2>about LikeLion</h2>
    <h3>Hack Your Life, 프로그래밍으로 당신의 인생을 바꿔보세요.</h3>
    <p>- 멋쟁이사자처럼은 2013년 비영리법인으로 시작하여 국내 및 국외(한국, 미국, 호주, 홍콩, 일본 등) 7,000여명의 대학생에게 프로그래밍 교육을 제공해왔습니다.</p>
    <p>- 2018년 5월 영리법인으로 전환하여 교육 대상과 지역(베트남 등)을 확장했고,</p>
    <p>현재는 멋쟁이사자처럼 대학생, 멋쟁이사자처럼 직장인 , 멋쟁이사자처럼 AI School 등의 오프라인 교육과, 글로벌 온라인 코딩 교육 플랫폼  코드라이언(CODE LION)을 개발, 운영하고 있습니다.</p>

    <h2>about DGU LikeLion 10th</h2>
    <h3>안녕하세요, 동국대학교 멋쟁이사자처럼 10기 입니다!</h3>
    <p>- 뛰어난 운영진과 함께 저희는 프로그래밍을 통해 꿈을 실현하는 방법을 배우고, 함께 성장합니다.</p>
    <p>- 매주 수요일 18시 30분 정기세션을 통해 교육팀이 제공하는 교육에 참여합니다.</p>
    <p>- 중앙 멋쟁이사자처럼의 코드라이언 프로그램 뿐만 아니라 동국대 멋사만의 다양한 교육을 통해 동국대 멋사 10기는 코딩 실력을 키웁니다.</p>

    <a href="{% url 'showfirst' %}">First Page</a>
    <a href="{% url 'showsecond' %}">Second Page</a>

{% endblock %}