{% extends 'base.html' %}
{% load static %}
{% block content %}
      
    <div class ="container">
        <div class ="header">
            <h1 class="hi">WELCOME :)</h1>
            <h2 class="name">I'm Youngseo. Good to see you!</h2>
            <img src="{% static 'image/myimage.png' %}" width = "300">
        </div>

        <div class ="content">
            <a href="https://ai.dongguk.edu/" class="major">MAJOR : Dongguck AI Convergence Department</a> <br>
            <a>MBTI : ESTP - So called 'an Adventurous Businessman' </a> <br>
            <a>BIRTH : 2002.08.19</a> <br>
            <a>HOBBY : Running🏃 / Working Out💪 / Taking a Picture📷</a> <br>
            <a href="http://dgulion.co.kr/" class="club">CLUB : LIKE LION DGU 10th</a>
        </div>

    </div>

{% endblock %}