{% extends 'base.html' %}

{% block content %}
      
    <div class ="container">
        <div class ="header">
            <h1 class="hi">WELCOME :)</h1>
            <h2 class="name">I'm Youngseo. Good to see you!</h2>
            <img src="C:\Users\user\Desktop\myimage.png" alt="my profile">
        </div>

        <div class ="content">
            <a href="https://ai.dongguk.edu/" class="major">MAJOR : AI Convergence Department</a> <br>
            <a>MBTI : ESTJ</a> <br>
            <a>BIRTH : 2002.08.19</a> <br>
            <a href="http://dgulion.co.kr/" class="club">CLUB : LIKE LION DGU 10th</a>
        </div>

    </div>

{% endblock %}